<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>
<body>
  <h1>Product List</h1>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price (EUR)</th>
        <th>Price (USD)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.code}">Code</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.priceEur}">Price (EUR)</td>
        <td th:text="${product.priceUsd}">Price (USD)</td>
        <td th:text="${product.description}">Description</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
